.product {
    position: absolute;
    
    top: 40%;
    left: 45%;
    transition: transform 1000ms ease;
    transition-delay: 500ms;
}

.product:hover {
    transform: scale(2);
}

.product:hover > .products_list > .product_item{
  transform: scale(1);
  transition: transform 300ms ease-in 0ms;
}

.product:hover > .products_list > .product_item.bridge{
  transition-delay: 1000ms;
}

.product > .products_list > .product_item.bridge{
  transition: transform 300 ease-in;
  transition-delay: 200ms;
}

.product:hover > .products_list > .product_item.amin{
  transition-delay: 1200ms;
}

.product > .products_list > .product_item.amin{
  transition: transform 300 ease-in;
  transition-delay: 0ms;
}

/* .product:hover > .products_list > #product_item > a >img {
  transform: scale(1);
  transition: transform 500ms ease-in 0ms;
  transition-delay: 1000ms;
}


.product > .products_list > #product_item > a > img:hover{
  transform:scale(1.2);
  transition: transform 500ms;
  transition-delay: 0ms;
} */
